@import './reset.scss';

html,body{
    width:100%;
    height: 100%;
    // overflow: hidden;
}

.app{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    background-color: #f7d986;
}

.game-wrapper{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: calc(50vw);
    max-width: 992px;
    max-height: 496px;
    border: 9px #5fa6ab solid;
    border-radius: 10px;
    cursor: pointer;
    // 螢幕會閃
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    @media(max-height:496px)and(min-width:992px){
        max-width: 200vh;
        max-height: 100vh;
    }
    @media(max-width:50vh){
        max-width: 80vw;
        max-height: 40vw;
    }
    @media(max-height:50vw){
        max-width: 160vh;
        max-height: 78vh;
    }
    .game-container{
        position: relative;
        width: 100%;
        height: 100%;
        .game-top-size{
            height: 100%;
        }
        .game-bottom-size{
            height: 78%;
        }
        .game-item{
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        #game-ui{
            z-index: 1;
            top:22%;
        }
        #game-bg{
            z-index: 0;
            top:0;
        }
    }
    .before-container{
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #afa4c9;
        .container__content{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items:center;
            height: 100%;
            .content__title{
                font-size: 30px;
                color: #026269;
                text-align: center;
                font-weight: bolder;
            }
            .content__btn{
                
                padding: 10px;
                background-color: #aad0eb;
                color: #602cda;
                font-weight: bolder;
                border-radius: 5px;
            }
        }
    }
    .game-btn{
        position: absolute;
        z-index: 4;
        bottom: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 20%;
        border-radius: 50%;
        background-color: rgb(95,158,160,0.43);
        &:active{
            background-color: rgb(95,158,160,0.8);
        }
        .game-btn__text{
            //螢幕 320 字體 20px 1200 字體 80
            font-size: calc((100vw - 320px)/60 + 20px);
            font-weight: bolder;
            color: rgb(96,44,218,29%);
        }
    }
    .top-btn{
        right: 18%;
    }
    .bottom-btn{
        right: 4%;
    }
    // 慢慢消失
    .transition-none{
        opacity: 0;
        transition: all 1s;
        .content__btn{
            display: none;
        }
    }
}
    


