@import './reset.scss';

html,body{
    width:100%;
    height: 100%;
    background-color: #f7d986;
    margin: auto;
}



.game-wrapper{
    margin: 0 auto;
    height: calc(50vw);
    max-width: 992px;
    max-height: 496px;
    border: 9px #5fa6ab solid;
    border-radius: 10px;
    .game-container{
        position: relative;
        width: 100%;
        height: 100%;
        .game-top-size{
            height: 100%;
        }
        .game-bottom-size{
            height: 78%;
        }
        .game-item{
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        #game-ui{
            z-index: 1;
            top:22%;
            
        }
        #game-bg{
            z-index: 0;
            top:0;
        }
    }
    .before-container{
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #afa4c9;
        .container__content{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items:center;
            height: 100%;
            .content__title{
                font-size: 50px;
                color: #026269;
                text-align: center;
                font-weight: bolder;
            }
            .content__btn{
                width: 20%;
                padding: 10px;
                background-color: #aad0eb;
                color: #602cda;
                font-weight: bolder;
                border-radius: 5px;
            }
        }
    }
    // 慢慢消失
    .transition-none{
        opacity: 0;
        transition: all 1s;
    }
}
    


